<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<h1>All Events</h1>
<h3>This page contains all events:</h3>
<table>
    <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Venue</th>
        <th>Price</th>
        <th>Available Seats</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Book</th>

    </tr>
    <tr th:each="event : ${events}">
        <td th:text="${event.eventName}"></td>
        <td th:text="${event.date}"></td>
        <td th:text="${event.venue}"></td>
        <td th:text="${event.price}"></td>
        <td th:text="${event.availableCapacity}"></td>
        <td>
            <a th:href="@{/admin/events/edit/{id}(id=${event.id})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/admin/events/delete/{id}(id=${event.id})}"
               onclick="return confirm('Are you sure you want to delete this event?')">Delete</a>
        </td>
        <td>
            <a th:href="@{/booking/event/{id}(id=${event.id})}">Book Now</a>
        </td>
    </tr>
</table>
</body>
</html>